# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: forbid-submodules
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.22
    hooks:
      - id: uv-lock
      - id: uv-export
        args: ["-o", "pylock.toml"]
  # Use official astral ruff pre-commit hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      # Run the linter with fixes
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter
      - id: ruff-format
