exclude config.yml
exclude MANIFEST.in
exclude .pre-commit-config.yaml
exclude .flake8
exclude .pre-commit-config.yaml
exclude poetry.lock
exclude pylintrc
exclude Dockerfile
exclude .dockerignore
exclude Vagrantfile

graft util

global-exclude .gitkeep .gitignore .DS_Store

prune tests
prune .github
prune .vscode
prune docker
