graft rpkiclientweb
graft tests
graft docs
graft examples

include README.md
include LICENSE.txt
include config.yml

include .coveragerc .flake8 pyproject.toml poetry.lock
include .pre-commit-config.yaml
include util/rsync_timeout
graft .github

exclude requirements*
exclude .gitkeep .isort.cfg
exclude Dockerfile .dockerignore docker/*
exclude .vscode/*

exclude Vagrantfile
exclude tests/*

global-exclude __pycache__ *.py[cod]
global-exclude .DS_Store
