[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
ipdb = "*"
pre-commit = "*"
tox = "*"
flake8 = "*"
pytest-xdist = "*"
pylint = "*"
jedi = "*"
pytest = "*"

[packages]
pyyaml = "*"
aiohttp = ">=3.7.4"
prometheus-async = {extras = ["aiohttp"],version = "*"}
voluptuous = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = false
